html {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
	padding-bottom: 32px;
}

a {
	color: royalblue;
}
a:hover {
	color: lightblue;
}

.entry {
	border-left: 10px solid navy;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	/*background-color: #f0f0ff;*/
}

.entry h2 {
	margin: 5px auto 2px auto;
}
